<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/flexslider.css" rel="stylesheet" type="text/css' %}">
    <link href="{% static 'css/item.css" rel="stylesheet' %}" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Yesteryear' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'font/font-awesome/css/font-awesome.min.css' %}">
</head>
<body>

<!-- header -->
<div class="hwrap">
    <div class="container">
        <header class="row">
            <!-- logo -->
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 logo"><a href="index.html"><span
                    class="themecolor">Shopi</span>licious</a></div>
            <!-- END logo -->
            <div class="visible-xs clearfix"></div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 ">
                <!-- nav dropdown -->

                <div class="floatleft nav">
                    <nav class="nav dropdown">
                        <!-- nav icon -->
                        <a href="#" class="themecolor" data-toggle="dropdown"><i class="icon-th-list"></i></a>
                        <!-- END nav icon -->

                        <!-- nav dropdown -->
                        <ul class="dropdown-menu level1" role="menu" aria-labelledby="dLabel">
                            <li>
                                <!-- nav first level item -->
                                <div class="wraplevel2">
                                    <a href="#" class="navlvl1">Pages</a>
                                    <div class="items">9 items</div>
                                </div>
                                <!-- END nav first level item -->
                                <!-- nav second level items -->
                                <ul class="level2">
                                    <li><a href="index.html">Index</a></li>
                                    <li><a href="index2.html">Index 2</a></li>
                                    <li><a href="listing-grid.html">Listing page - grid</a></li>
                                    <li><a href="listing-list.html">Listing page - list</a></li>
                                    <li><a href="item.html">Item page</a></li>
                                    <li><a href="item-reviews.html">Item page - reviews</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="news.html">News</a></li>
                                </ul>
                                <!-- END nav second level items -->
                            </li>
                            <li>
                                <div class="wraplevel2">
                                    <a href="#" class="navlvl1">Men</a>
                                    <div class="items">20,548 items</div>
                                </div>
                                <ul class="level2">
                                    <li><a href="#">T-shirts</a></li>
                                    <li><a href="#">Casual &amp; Party Wear</a></li>
                                    <li><a href="#">Formal Shirts</a></li>
                                    <li><a href="#">Jeans</a></li>
                                    <li><a href="#">Cargos, Shorts</a></li>
                                    <li><a href="#">Trousers</a></li>
                                    <li><a href="#">Inner &amp; Sleep Wear</a></li>
                                    <li><a href="#">Sports Wear</a></li>
                                    <li><a href="#">Suits &amp; Blazers</a></li>
                                    <li><a href="#">Accessories</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="wraplevel2">
                                    <a href="#" class="navlvl1">Women</a>
                                    <div class="items">58,696 items</div>
                                </div>
                                <ul class="level2">
                                    <li><a href="#">2 T-shirts</a></li>
                                    <li><a href="#">2Casual &amp; Party Wear</a></li>
                                    <li><a href="#">2Formal Shirts</a></li>
                                    <li><a href="#">2Jeans</a></li>
                                    <li><a href="#">2Cargos, Shorts</a></li>
                                    <li><a href="#">2Trousers</a></li>
                                    <li><a href="#">2Inner &amp; Sleep Wear</a></li>
                                    <li><a href="#">2Sports Wear</a></li>
                                    <li><a href="#">2Suits &amp; Blazers</a></li>
                                    <li><a href="#">2Accessories</a></li>
                                </ul>
                            </li>
                            <li>
                                <!-- nav first level item -->
                                <div class="wraplevel2">
                                    <a href="#" class="navlvl1">Kids</a>
                                    <div class="items">12,487 items</div>
                                </div>
                                <!-- END nav first level item -->
                            </li>
                        </ul>
                        <!-- END nav dropdown -->
                    </nav>
                </div>

                <!-- END nav dropdown -->

                <!-- search dropdown -->
                <div class="floatleft search dropdown">
                    <a href="#" data-toggle="dropdown"><i class="icon-search"></i></a>
                    <div class="dropdown-menu">
                        <form role="form">
                            <div class="cont clearfix">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <input type="text" class="form-control" placeholder="What are you looking for?">
                                    </div>
                                </div>
                                <div class="row mt15">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <select class="form-control">
                                            <option>Category</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <select class="form-control">
                                            <option>Size</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt15">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <select class="form-control">
                                            <option>Brand</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <select class="form-control">
                                            <option>Price</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt30">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <button type="submit" class="btn btn-primary">search</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END search dropdown -->

            </div>
            <div class="visible-xs clearfix"></div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                <div class="floatleft wcurrency">
                    <!-- Single button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle currency" data-toggle="dropdown">
                            &#36; <i class="icon-chevron-down"></i>
                        </button>
                    </div>
                </div>

                <!-- cart dropdown -->
                <div class="floatleft cart dropdown">
                    <a href="#" data-toggle="dropdown"><i class="icon-shopping-cart"></i></a><span
                        class="badge">3</span>
                    <div class="dropdown-menu">
                        <form role="form">
                            <div class="clearfix">
                                <div class="row ">
                                    <div class="col-lg-12 mcarttop">
                                        <h2>Cart</h2>
                                    </div>
                                </div>
                                <div class="mt30 product clearfix">
                                    <div class="img pull-left">&nbsp;</div>
                                    <div class="details pull-left">
                                        <div class="name">Printed Kurta</div>
                                        <div class="desc">Women's Product</div>
                                        <div class="price">$45</div>
                                    </div>
                                    <div class="looclose pull-left"><a href="#"><i class="icon-remove"></i></a></div>
                                </div>
                                <div class="mt30 product clearfix">
                                    <div class="img pull-left">&nbsp;</div>
                                    <div class="details pull-left">
                                        <div class="name">Printed Kurta</div>
                                        <div class="desc">Women's Product</div>
                                        <div class="price">$45</div>
                                    </div>
                                    <div class="looclose pull-left"><a href="#"><i class="icon-remove"></i></a></div>
                                </div>
                                <div class="mt30 product clearfix">
                                    <div class="img pull-left">&nbsp;</div>
                                    <div class="details pull-left">
                                        <div class="name">Printed Kurta</div>
                                        <div class="desc">Women's Product</div>
                                        <div class="price">$45</div>
                                    </div>
                                    <div class="looclose pull-left"><a href="#"><i class="icon-remove"></i></a></div>
                                </div>
                                <div class="row mcartbot">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <button type="submit" class="btn btn-default">continue</button>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <button type="submit" class="btn btn-primary">checkout</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END cart dropdown -->


                <!-- account dropdown -->
                <div class="floatleft account dropdown">
                    <a href="#" data-toggle="dropdown"><i class="icon-lock"></i></a>
                    <div class="dropdown-menu">
                        <form role="form">
                            <div class="cont clearfix">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h2>Login</h2>
                                    </div>
                                </div>
                                <div class="row mt30">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                                <div class="row mt15">
                                    <div class="col-lg-12">
                                        <input type="password" class="form-control" placeholder="Password">
                                    </div>
                                </div>

                                <div class="row checkbox mt30">
                                    <div class="col-xs-offset-1 col-xs-1 col-lg-offset-1 col-lg-1">
                                        <input type="checkbox" id="rememverlogin">
                                    </div>
                                    <div class="col-xs-10 col-lg-8 rememverlogin">
                                        <label for="rememverlogin">Remember My Login</label>
                                    </div>
                                </div>

                                <div class="row mt30">
                                    <div class="col-lg-12">
                                        <button type="submit" class="btn btn-primary">login</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END account dropdown -->

            </div>
        </header>
    </div>
</div>


<!-- slider -->
<div class="flexslider">
    <ul class="slides">
        <li>
            <a href="#">
                <img src="images/slide1.jpg"/>
                <span class="gradient hidden-xs hidden-sm"></span>
            </a>
            <div class="text hidden-xs">
                <h3>Women's section</h3>
                <p>Choose from our wide selection of women's
                    clothes, heels, ballets, flip flops, casual shirts,
                    shrugs, jackets & many more.</p>
                <a href="#">Browse</a>
            </div>
        </li>
        <li>
            <a href="#">
                <img src="images/slide2.jpg"/>
                <span class="gradient hidden-xs hidden-sm"></span>
            </a>
            <div class="text hidden-xs">
                <h3>Women's section #2</h3>
                <p>Choose from our wide selection of women's
                    clothes, heels, ballets, flip flops, casual shirts,
                    shrugs, jackets & many more.</p>
                <a href="#">Browse</a>
            </div>
        </li>
        <li>
            <a href="#">
                <img src="images/slide3.jpg"/>
                <span class="gradient hidden-xs hidden-sm"></span>
            </a>
            <div class="text hidden-xs">
                <h3>Women's section #3</h3>
                <p>Choose from our wide selection of women's
                    clothes, heels, ballets, flip flops, casual shirts,
                    shrugs, jackets & many more.</p>
                <a href="#">Browse</a>
            </div>
        </li>
    </ul>
</div>
<!-- END slider -->

<!-- END header -->

<div class="container">
    <section class="content row">

        <!-- Featured items -->

        <section class="featured clearfix">
            <div class="col-sm-12 col-md-12 col-lg-12"><h2>Featured items</h2></div>

            <!-- Featured item -->

            <div class="col-sm-6 col-md-3 col-lg-3 fitem">
                <div class="item">
                    <a href="#"><img src="images/featuredimg1.jpg" alt="" width="100%"/></a>
                    <div class="item-details clearfix">
                        <p class="name">
                            Karigari Women's Leggings
                        </p>
                        <p class="desc">
                            Product description goes here, Short description is good.
                        </p>
                        <div class="buttons">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 price">
                                <div class="old-price">$80</div>
                                <div class="new-price">$45</div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 btnicon mo"><a href="#"><i
                                    class="icon-heart"></i></a></div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 btnicon mo"><a href="#"><i
                                    class="icon-refresh"></i></a></div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 btnicon cart mo"><a href="#"
                                                                                                class="themecolor"><i
                                    class="icon-shopping-cart"></i></a></div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 btnicon rating"> Rating - <i
                                    class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i
                                    class="icon-star"></i> <i class="icon-star"></i></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- END Featured item -->


            <!-- Featured item -->

            <div class="col-sm-6 col-md-3 col-lg-3 fitem">
                <div class="item">
                    <a href="#"><img src="images/featuredimg2.jpg" alt="" width="100%"/></a>
                    <div class="item-details clearfix">
                        <p class="name">
                            Bazel Embroidered
                        </p>
                        <p class="desc">
                            Product description goes here, Short description is good.
                        </p>
                        <div class="buttons">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 price">
                                <div class="old-price">$90</div>
                                <div class="new-price">$55</div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 btnicon mo"><a href="#"><i
                                    class="icon-heart"></i></a></div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 btnicon mo"><a href="#"><i
                                    class="icon-refresh"></i></a></div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 btnicon cart mo"><a href="#"
                                                                                                class="themecolor"><i
                                    class="icon-shopping-cart"></i></a></div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 btnicon rating"> Rating - <i
                                    class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i
                                    class="icon-star"></i> <i class="icon-star"></i></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- END Featured item -->


            <!-- Featured item -->

            <div class="col-sm-6 col-md-3 col-lg-3 fitem">
                <div class="item">
                    <a href="#"><img src="images/featuredimg3.jpg" alt="" width="100%"/></a>
                    <div class="item-details clearfix">
                        <p class="name">
                            Neels Self Design
                        </p>
                        <p class="desc">
                            Product description goes here, Short description is good.
                        </p>
                        <div class="buttons">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 price">
                                <div class="old-price">$75</div>
                                <div class="new-price">$40</div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 btnicon mo"><a href="#"><i
                                    class="icon-heart"></i></a></div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 btnicon mo"><a href="#"><i
                                    class="icon-refresh"></i></a></div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 btnicon cart mo"><a href="#"
                                                                                                class="themecolor"><i
                                    class="icon-shopping-cart"></i></a></div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 btnicon rating"> Rating - <i
                                    class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i
                                    class="icon-star"></i> <i class="icon-star"></i></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- END Featured item -->


            <!-- Featured item -->

            <div class="col-sm-6 col-md-3 col-lg-3 fitem">
                <div class="item">
                    <a href="#"><img src="images/featuredimg4.jpg" alt="" width="100%"/></a>
                    <div class="item-details clearfix">
                        <p class="name">
                            Anahi Printed Kurta
                        </p>
                        <p class="desc">
                            Product description goes here, Short description is good.
                        </p>
                        <div class="buttons">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 price">
                                <div class="old-price">$110</div>
                                <div class="new-price">$85</div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 btnicon mo"><a href="#"><i
                                    class="icon-heart"></i></a></div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 btnicon mo"><a href="#"><i
                                    class="icon-refresh"></i></a></div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 btnicon cart mo"><a href="#"
                                                                                                class="themecolor"><i
                                    class="icon-shopping-cart"></i></a></div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 btnicon rating"> Rating - <i
                                    class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i
                                    class="icon-star graystar"></i> <i class="icon-star graystar"></i></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- END Featured item -->

        </section>

        <!-- END Featured items -->

        <section class="featured clearfix">

            <!-- Best selling items -->

            <div class="col-sm-6 col-md-3 col-lg-3">
                <h2>Best selling items</h2>

                <!-- bestseller item -->
                <div class="row bestselleritem">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><a href="#"><img src="images/bestimg1.jpg" alt=""
                                                                                      width="100%"/></a></div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 bestsellerdetails">
                        <div class="name">Product name</div>
                        <div class="inventory">Items Left -50</div>
                        <div class="col-sm-3 col-md-3 col-lg-3 btnicon mo"><a href="#"><i class="icon-heart"></i></a>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 btnicon mo"><a href="#"><i class="icon-refresh"></i></a>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 btnicon cart mo"><a href="#" class="themecolor"><i
                                class="icon-shopping-cart"></i></a></div>
                        <div class="rating">Rating - <i class="icon-star"></i> <i class="icon-star"></i> <i
                                class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i></div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 bestsellerprice">
                        <div class="col-lg-12 price">
                            <div class="old-price">$100</div>
                            <div class="new-price">$55</div>
                        </div>
                    </div>
                </div>
                <div class="divider">&nbsp;</div>
                <!-- END bestseller item -->


                <!-- bestseller item -->
                <div class="row bestselleritem">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><a href="#"><img src="images/bestimg1.jpg" alt=""
                                                                                      width="100%"/></a></div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 bestsellerdetails">
                        <div class="name">Product name</div>
                        <div class="inventory">Items Left -50</div>
                        <div class="col-sm-3 col-md-3 col-lg-3 btnicon mo"><a href="#"><i class="icon-heart"></i></a>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 btnicon mo"><a href="#"><i class="icon-refresh"></i></a>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 btnicon cart mo"><a href="#" class="themecolor"><i
                                class="icon-shopping-cart"></i></a></div>
                        <div class="rating">Rating - <i class="icon-star"></i> <i class="icon-star"></i> <i
                                class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i></div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 bestsellerprice">
                        <div class="col-lg-12 price">
                            <div class="old-price">$100</div>
                            <div class="new-price">$55</div>
                        </div>
                    </div>
                </div>
                <div class="divider">&nbsp;</div>
                <!-- END bestseller item -->


                <!-- bestseller item -->
                <div class="row bestselleritem">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><img src="images/bestimg1.jpg" alt=""
                                                                          width="100%"/></div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 bestsellerdetails">
                        <div class="name">Product name</div>
                        <div class="inventory">Items Left -50</div>
                        <div class="col-sm-3 col-md-3 col-lg-3 btnicon mo"><a href="#"><i class="icon-heart"></i></a>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 btnicon mo"><a href="#"><i class="icon-refresh"></i></a>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 btnicon cart mo"><a href="#" class="themecolor"><i
                                class="icon-shopping-cart"></i></a></div>
                        <div class="rating">Rating - <i class="icon-star"></i> <i class="icon-star"></i> <i
                                class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i></div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 bestsellerprice">
                        <div class="col-lg-12 price">
                            <div class="old-price">$100</div>
                            <div class="new-price">$55</div>
                        </div>
                    </div>
                </div>
                <div class="divider">&nbsp;</div>
                <!-- END bestseller item -->


            </div>

            <!-- END Best selling items -->

            <!-- Weekly top sellers -->

            <div class="col-sm-6 col-md-9 col-lg-9">
                <h2>Weekly top sellers</h2>

                <div class="row">
                    <!-- Featured item -->

                    <div class="col-sm-12 col-md-4 col-lg-4 fitem">
                        <div class="item">
                            <a href="#"><img src="images/weeklyimg1.jpg" alt="" width="100%"/></a>
                            <div class="item-details clearfix">
                                <p class="name">
                                    Leep Printed Women's Boxer
                                </p>
                                <p class="desc">
                                    Product description goes here, Short description is good.
                                </p>
                                <div class="buttons">
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 price">
                                        <div class="old-price">$65</div>
                                        <div class="new-price">$30</div>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 btnicon mo"><a href="#"><i
                                            class="icon-heart"></i></a></div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 btnicon mo"><a href="#"><i
                                            class="icon-refresh"></i></a></div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 btnicon cart mo"><a href="#"
                                                                                                        class="themecolor"><i
                                            class="icon-shopping-cart"></i></a></div>
                                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 btnicon rating"> Rating - <i
                                            class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i>
                                        <i class="icon-star"></i> <i class="icon-star"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- END Featured item -->
                    <!-- Featured item -->

                    <div class="col-md-4 col-lg-4 fitem hidden-sm">
                        <div class="item">
                            <a href="#"><img src="images/weeklyimg2.jpg" alt="" width="100%"/></a>
                            <div class="item-details clearfix">
                                <p class="name">
                                    Karigari Women's Kurta
                                </p>
                                <p class="desc">
                                    Product description goes here, Short description is good.
                                </p>
                                <div class="buttons">
                                    <div class="col-xs-3 col-md-3 col-lg-3 price">
                                        <div class="old-price">$80</div>
                                        <div class="new-price">$45</div>
                                    </div>
                                    <div class="col-xs-3 col-md-3 col-lg-3 btnicon mo"><a href="#"><i
                                            class="icon-heart"></i></a></div>
                                    <div class="col-xs-3 col-md-3 col-lg-3 btnicon mo"><a href="#"><i
                                            class="icon-refresh"></i></a></div>
                                    <div class="col-xs-3 col-md-3 col-lg-3 btnicon cart mo"><a href="#"
                                                                                               class="themecolor"><i
                                            class="icon-shopping-cart"></i></a></div>
                                    <div class="col-xs-9 col-md-9 col-lg-9 btnicon rating"> Rating - <i
                                            class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i>
                                        <i class="icon-star"></i> <i class="icon-star"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- END Featured item -->
                    <!-- Featured item -->

                    <div class="col-md-4 col-lg-4 fitem hidden-sm">
                        <div class="item">
                            <a href="#"><img src="images/weeklyimg3.jpg" alt="" width="100%"/></a>
                            <div class="item-details clearfix">
                                <p class="name">
                                    Bazel Embroidered
                                </p>
                                <p class="desc">
                                    Product description goes here, Short description is good.
                                </p>
                                <div class="buttons">
                                    <div class="col-xs-3 col-md-3 col-lg-3 price">
                                        <div class="old-price">$99</div>
                                        <div class="new-price">$65</div>
                                    </div>
                                    <div class="col-xs-3 col-md-3 col-lg-3 btnicon mo"><a href="#"><i
                                            class="icon-heart"></i></a></div>
                                    <div class="col-xs-3 col-md-3 col-lg-3 btnicon mo"><a href="#"><i
                                            class="icon-refresh"></i></a></div>
                                    <div class="col-xs-3 col-md-3 col-lg-3 btnicon cart mo"><a href="#"
                                                                                               class="themecolor"><i
                                            class="icon-shopping-cart"></i></a></div>
                                    <div class="col-xs-9 col-md-9 col-lg-9 btnicon rating"> Rating - <i
                                            class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i>
                                        <i class="icon-star"></i> <i class="icon-star"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- END Featured item -->
                </div>
            </div>

            <!--  END Weekly top sellers -->


        </section>

        <section class="bottominfo">
            <div class="col-sm-6 col-md-3 col-lg-3 gomobile">
                <h2>go mobile</h2>
                <a href="#"><img src="images/gomobile.jpg" alt="" width="100%"/></a>
                <div class="clearfix">
                    <div class="gomobile1 pull-left">
                        <div class="caption14">Shop on the go</div>
                        <div>Browse, Share & Shop using our Mobile App</div>
                    </div>
                    <div class="gomobile2 pull-right">
                        <div class="brandicon">
                            <i class="icon-apple themecolor"></i>
                        </div>
                    </div>
                </div>
                <div class="divider">&nbsp;</div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <h2>Recent News</h2>
                <div class="caption14">Winter sale is here</div>
                <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                <div class="divider">&nbsp;</div>
                <div class="caption14">75% off on items</div>
                <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                <div class="divider">&nbsp;</div>
                <div class="caption14">FaceBook 1 million fans</div>
                <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                <div class="divider">&nbsp;</div>
            </div>

            <div class="clearfix visible-sm"></div>

            <div class="col-sm-6 col-md-3 col-lg-3 newsletter">
                <h2>Weekly Newsletter</h2>
                <div class="mt30">Subscribe to our weekly newsletter and
                    get updates on the category you like
                </div>
                <form action="#" role="form">
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name">
                    <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Email">
                    <select class="form-control">
                        <option>Category</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                    <button type="submit" class="btn btn-primary">Sign me up</button>
                </form>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 twitter">
                <h2>twitter updates</h2>
                <div class="caption14">@ESFI</div>
                <div>Hong Kong Esports announces ~$190,000
                    multi-game tournament - <a href="#">bitly.co.uk</a></div>
                <div class="divider">&nbsp;</div>
                <div class="caption14">@DarkZero</div>
                <div>PlayStation 3 Firmware Fix to arrive June
                    27th <a href="#">http://darkzero.co.uk/?p=56526</a></div>
                <div class="divider">&nbsp;</div>
                <div class="caption14">@Dominic Sheard</div>
                <div>What is this that Nintendo has sneakily
                    released on 3DS.
                </div>
                <div class="divider">&nbsp;</div>
            </div>
        </section>

    </section>

</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-2 col-lg-2">
                <h2>Shopilicious</h2>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Payments</a></li>
                    <li><a href="#">Jobs</a></li>
                </ul>
                <div class="divider">&nbsp;</div>
            </div>
            <div class="col-sm-4 col-md-2 col-lg-2">
                <h2>Help</h2>
                <ul>
                    <li><a href="#">Payments</a></li>
                    <li><a href="#">Accepted Cards</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Cancellation & Return</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
                <div class="divider">&nbsp;</div>
            </div>
            <div class="col-sm-4 col-md-2 col-lg-2">
                <h2>Support</h2>
                <div class="phone clearfix">
                    <div class="pull-left icon"><i class="icon-mobile-phone"></i></div>
                    <div class="pull-left text">+91 254 585 659<br>
                        +91 459 896 458
                    </div>
                </div>
                <div class="email clearfix">
                    <div class="pull-left icon"><i class="icon-envelope-alt"></i></div>
                    <div class="push-left text"><a href="mailto:support@email.com">support@email.com</a></div>
                </div>
                <div class="divider">&nbsp;</div>
            </div>
            <div class="col-sm-4 col-md-2 col-lg-2">
                <h2 class="noborder">Advertisement</h2>
                <div class="emptyad clearfix">
                    <div class="emptyaddoted">&nbsp;</div>
                </div>
            </div>
            <div class="col-sm-4 col-md-2 col-lg-2">
                <h2>Press Resources</h2>
                <ul>
                    <li><a href="#">Logo</a></li>
                    <li><a href="#">Business Card</a></li>
                    <li><a href="#">Banners</a></li>
                    <li><a href="#">Wallpapers</a></li>
                    <li><a href="#">Downloads</a></li>
                </ul>
                <div class="divider">&nbsp;</div>
            </div>
            <div class="col-sm-4 col-md-2 col-lg-2 social">
                <h2>Social Networks</h2>
                <div class="icons">
                    <a href="#"><i class="icon-facebook-sign"></i></a>
                    <a href="#"><i class="icon-twitter-sign"></i></a>
                    <a href="#"><i class="icon-linkedin-sign"></i></a>
                    <a href="#"><i class="icon-pinterest-sign"></i></a>
                    <a href="#"><i class="icon-flickr"></i></a>
                    <a href="#"><i class="icon-tumblr-sign"></i></a>
                    <a href="#"><i class="icon-google-plus-sign"></i></a>
                </div>
                <div class="text">Follow us on social networks
                    to stay updated with news
                    and offers.
                </div>
                <div class="divider">&nbsp;</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 copyright">Copyrights 1990 - 2013, <a
                    href="http://shopilicious.com/">Shopilicious.com</a>, All Rights Reserved
            </div>
        </div>
    </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<script src="js/jquery.flexslider.js"></script>

<script type="text/javascript" charset="utf-8">
    $(window).load(function () {
        $('.flexslider').flexslider(
            {
                animation: 'slide',
                controlNav: false,
                prevText: '<div class="circle"><i class="icon-chevron-left\"></i></div>', //String: Set the text for the "previous" directionNav item
                nextText: '<div class="circle"><i class="icon-chevron-right\"></i></div>' //String: Set the text for the "next" directionNav item
            }
        );
    });
</script>


<!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
<!--<script src="js/respond.min.js"></script>-->

<script src="js/item.js"></script>

<script src="js/retina.js"></script>

</body>
</html>