<!DOCTYPE html>
<html>
<head>
    <title>News</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/flexslider.css" rel="stylesheet" type="text/css">
    <link href="css/item.css" rel="stylesheet" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Yesteryear' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font/font-awesome/css/font-awesome.min.css">
</head>
<body>

<div class="hwrap">
    <div class="container">
        <header class="row">
            <!-- logo -->
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 logo"><a href="index.html"><span
                    class="themecolor">Shopi</span>licious</a></div>
            <!-- END logo -->
            <div class="visible-xs clearfix"></div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 ">
                <!-- nav dropdown -->

                <div class="floatleft nav">
                    <nav class="nav dropdown">
                        <!-- nav icon -->
                        <a href="#" class="themecolor" data-toggle="dropdown"><i class="icon-th-list"></i></a>
                        <!-- END nav icon -->

                        <!-- nav dropdown -->
                        <ul class="dropdown-menu level1" role="menu" aria-labelledby="dLabel">
                            <li>
                                <!-- nav first level item -->
                                <div class="wraplevel2">
                                    <a href="#" class="navlvl1">Pages</a>
                                    <div class="items">9 items</div>
                                </div>
                                <!-- END nav first level item -->
                                <!-- nav second level items -->
                                <ul class="level2">
                                    <li><a href="index.html">Index</a></li>
                                    <li><a href="index2.html">Index 2</a></li>
                                    <li><a href="listing-grid.html">Listing page - grid</a></li>
                                    <li><a href="listing-list.html">Listing page - list</a></li>
                                    <li><a href="item.html">Item page</a></li>
                                    <li><a href="item-reviews.html">Item page - reviews</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="news.html">News</a></li>
                                </ul>
                                <!-- END nav second level items -->
                            </li>
                            <li>
                                <div class="wraplevel2">
                                    <a href="#" class="navlvl1">Men</a>
                                    <div class="items">20,548 items</div>
                                </div>
                                <ul class="level2">
                                    <li><a href="#">T-shirts</a></li>
                                    <li><a href="#">Casual &amp; Party Wear</a></li>
                                    <li><a href="#">Formal Shirts</a></li>
                                    <li><a href="#">Jeans</a></li>
                                    <li><a href="#">Cargos, Shorts</a></li>
                                    <li><a href="#">Trousers</a></li>
                                    <li><a href="#">Inner &amp; Sleep Wear</a></li>
                                    <li><a href="#">Sports Wear</a></li>
                                    <li><a href="#">Suits &amp; Blazers</a></li>
                                    <li><a href="#">Accessories</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="wraplevel2">
                                    <a href="#" class="navlvl1">Women</a>
                                    <div class="items">58,696 items</div>
                                </div>
                                <ul class="level2">
                                    <li><a href="#">2 T-shirts</a></li>
                                    <li><a href="#">2Casual &amp; Party Wear</a></li>
                                    <li><a href="#">2Formal Shirts</a></li>
                                    <li><a href="#">2Jeans</a></li>
                                    <li><a href="#">2Cargos, Shorts</a></li>
                                    <li><a href="#">2Trousers</a></li>
                                    <li><a href="#">2Inner &amp; Sleep Wear</a></li>
                                    <li><a href="#">2Sports Wear</a></li>
                                    <li><a href="#">2Suits &amp; Blazers</a></li>
                                    <li><a href="#">2Accessories</a></li>
                                </ul>
                            </li>
                            <li>
                                <!-- nav first level item -->
                                <div class="wraplevel2">
                                    <a href="#" class="navlvl1">Kids</a>
                                    <div class="items">12,487 items</div>
                                </div>
                                <!-- END nav first level item -->
                            </li>
                        </ul>
                        <!-- END nav dropdown -->
                    </nav>
                </div>

                <!-- END nav dropdown -->

                <!-- search dropdown -->
                <div class="floatleft search dropdown">
                    <a href="#" data-toggle="dropdown"><i class="icon-search"></i></a>
                    <div class="dropdown-menu">
                        <form role="form">
                            <div class="cont clearfix">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <input type="text" class="form-control" placeholder="What are you looking for?">
                                    </div>
                                </div>
                                <div class="row mt15">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <select class="form-control">
                                            <option>Category</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <select class="form-control">
                                            <option>Size</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt15">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <select class="form-control">
                                            <option>Brand</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <select class="form-control">
                                            <option>Price</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt30">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <button type="submit" class="btn btn-primary">search</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END search dropdown -->

            </div>
            <div class="visible-xs clearfix"></div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                <div class="floatleft wcurrency">
                    <!-- Single button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle currency" data-toggle="dropdown">
                            &#36; <i class="icon-chevron-down"></i>
                        </button>
                    </div>
                </div>

                <!-- cart dropdown -->
                <div class="floatleft cart dropdown">
                    <a href="#" data-toggle="dropdown"><i class="icon-shopping-cart"></i></a><span
                        class="badge">3</span>
                    <div class="dropdown-menu">
                        <form role="form">
                            <div class="clearfix">
                                <div class="row ">
                                    <div class="col-lg-12 mcarttop">
                                        <h2>Cart</h2>
                                    </div>
                                </div>
                                <div class="mt30 product clearfix">
                                    <div class="img pull-left">&nbsp;</div>
                                    <div class="details pull-left">
                                        <div class="name">Printed Kurta</div>
                                        <div class="desc">Women's Product</div>
                                        <div class="price">$45</div>
                                    </div>
                                    <div class="looclose pull-left"><a href="#"><i class="icon-remove"></i></a></div>
                                </div>
                                <div class="mt30 product clearfix">
                                    <div class="img pull-left">&nbsp;</div>
                                    <div class="details pull-left">
                                        <div class="name">Printed Kurta</div>
                                        <div class="desc">Women's Product</div>
                                        <div class="price">$45</div>
                                    </div>
                                    <div class="looclose pull-left"><a href="#"><i class="icon-remove"></i></a></div>
                                </div>
                                <div class="mt30 product clearfix">
                                    <div class="img pull-left">&nbsp;</div>
                                    <div class="details pull-left">
                                        <div class="name">Printed Kurta</div>
                                        <div class="desc">Women's Product</div>
                                        <div class="price">$45</div>
                                    </div>
                                    <div class="looclose pull-left"><a href="#"><i class="icon-remove"></i></a></div>
                                </div>
                                <div class="row mcartbot">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <button type="submit" class="btn btn-default">continue</button>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <button type="submit" class="btn btn-primary">checkout</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END cart dropdown -->


                <!-- account dropdown -->
                <div class="floatleft account dropdown">
                    <a href="#" data-toggle="dropdown"><i class="icon-lock"></i></a>
                    <div class="dropdown-menu">
                        <form role="form">
                            <div class="cont clearfix">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h2>Login</h2>
                                    </div>
                                </div>
                                <div class="row mt30">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                                <div class="row mt15">
                                    <div class="col-lg-12">
                                        <input type="password" class="form-control" placeholder="Password">
                                    </div>
                                </div>

                                <div class="row checkbox mt30">
                                    <div class="col-xs-offset-1 col-xs-1 col-lg-offset-1 col-lg-1">
                                        <input type="checkbox" id="rememverlogin">
                                    </div>
                                    <div class="col-xs-10 col-lg-8 rememverlogin">
                                        <label for="rememverlogin">Remember My Login</label>
                                    </div>
                                </div>

                                <div class="row mt30">
                                    <div class="col-lg-12">
                                        <button type="submit" class="btn btn-primary">login</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END account dropdown -->

            </div>
        </header>
    </div>
</div>
<!--<section class="slider"><img src="images/slide1.jpg" alt="" /></section>-->

<div class="container">
    <section class="content row news">

        <div class="row hidden-xs">
            <div class="col-sm-3 col-md-3 col-lg-3"><h2>News</h2></div>
            <div class="col-sm-9 col-md-9 col-lg-9"><h2>Details</h2></div>
        </div>
        <div class="row">


            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 rightcol pull-right">
                <h2 class="visible-xs">Latest news caption</h2>

                <div class="divider ml15min">&nbsp;</div>

                <div class="newsdetails">
                    <p class="caption18">Winter sale is here</p>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
                        Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin
                        words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in
                        classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32
                        and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero,
                        written in 45 BC. This book is a treatise on the theory of ethics, very popular during the
                        Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in
                        section 1.10.32.</p>
                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                        Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced
                        in their exact original form, accompanied by English versions from the 1914 translation by H.
                        Rackham.</p>
                </div>

                <div class="divider ml15min">&nbsp;</div>
                <img src="images/sociallikes.jpg" alt="" class="sociallikes"/>

                <div class="divider ml15min">&nbsp;</div>

                <!-- review -->
                <div class="review clearfix">
                    <div class="wavatar pull-left mt30">
                        <div class="avatar"><i class="icon-user"></i></div>
                    </div>
                    <div class="reviewdetails pull-left mt30">
                        <div class="name"><span class="caption14">Aditya Shau</span></div>
                        <div class="text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                            roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                            Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one
                            of the more obscure Latin words, consectetur, from a Lorem Ipsum passage.
                        </div>
                        <div class="likes"><i class="icon-thumbs-up-alt"></i> 52 <i
                                class="icon-thumbs-down-alt ml15"></i> 3
                        </div>
                    </div>
                </div>
                <!-- END review -->
                <div class="divider ml15min">&nbsp;</div>

                <!-- review -->
                <div class="review clearfix">
                    <div class="wavatar pull-left mt30">
                        <div class="avatar"><i class="icon-user"></i></div>
                    </div>
                    <div class="reviewdetails pull-left mt30">
                        <div class="name"><span class="caption14">Jhonny Blaze </span></div>
                        <div class="text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                            roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                            Richard McClintock.
                        </div>
                        <div class="likes"><i class="icon-thumbs-up-alt"></i> 115 <i
                                class="icon-thumbs-down-alt ml15"></i> 16
                        </div>
                    </div>
                </div>
                <!-- END review -->
                <div class="divider ml15min">&nbsp;</div>

                <!-- review -->
                <div class="review clearfix">
                    <div class="wavatar pull-left mt30">
                        <div class="avatar"><i class="icon-user"></i></div>
                    </div>
                    <div class="reviewdetails pull-left mt30">
                        <div class="name"><span class="caption14">Aditya Shau</span></div>
                        <div class="text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                            roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                            Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one
                            of the more obscure Latin words, consectetur, from a Lorem Ipsum passage.
                        </div>
                        <div class="likes"><i class="icon-thumbs-up-alt"></i> 52 <i
                                class="icon-thumbs-down-alt ml15"></i> 3
                        </div>
                    </div>
                </div>
                <!-- END review -->
                <div class="divider ml15min">&nbsp;</div>

            </div>


            <div class="clearfix visible-xs"></div>

            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 leftcol">
                <h2 class="visible-xs">News</h2>
                <div class="divider mr15min">&nbsp;</div>
                <div class="newsitem activenews">
                    <p class="caption14">Winter sale is here</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                </div>

                <div class="divider mr15min">&nbsp;</div>
                <div class="newsitem">
                    <p class="caption14">75% off on items</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                </div>

                <div class="divider mr15min">&nbsp;</div>
                <div class="newsitem">
                    <p class="caption14">FaceBook 1 million fans</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                </div>

                <div class="divider mr15min">&nbsp;</div>
                <div class="newsitem">
                    <p class="caption14">Winter sale is here</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                </div>

                <div class="divider mr15min">&nbsp;</div>
                <div class="newsitem">
                    <p class="caption14">75% off on items</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                </div>

                <div class="divider mr15min">&nbsp;</div>
                <div class="newsitem">
                    <p class="caption14">FaceBook 1 million fans</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                </div>

                <div class="divider mr15min">&nbsp;</div>

                <div class="loadmorenews">
                    <input type="submit" value="Load more news" class="btn btn-default"/>
                </div>

                <div class="divider mr15min">&nbsp;</div>
            </div>
        </div>

    </section>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-2 col-lg-2">
                <h2>Shopilicious</h2>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Payments</a></li>
                    <li><a href="#">Jobs</a></li>
                </ul>
                <div class="divider">&nbsp;</div>
            </div>
            <div class="col-sm-4 col-md-2 col-lg-2">
                <h2>Help</h2>
                <ul>
                    <li><a href="#">Payments</a></li>
                    <li><a href="#">Accepted Cards</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Cancellation & Return</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
                <div class="divider">&nbsp;</div>
            </div>
            <div class="col-sm-4 col-md-2 col-lg-2">
                <h2>Support</h2>
                <div class="phone clearfix">
                    <div class="pull-left icon"><i class="icon-mobile-phone"></i></div>
                    <div class="pull-left text">+91 254 585 659<br>
                        +91 459 896 458
                    </div>
                </div>
                <div class="email clearfix">
                    <div class="pull-left icon"><i class="icon-envelope-alt"></i></div>
                    <div class="push-left text"><a href="mailto:support@email.com">support@email.com</a></div>
                </div>
                <div class="divider">&nbsp;</div>
            </div>
            <div class="col-sm-4 col-md-2 col-lg-2">
                <h2 class="noborder">Advertisement</h2>
                <div class="emptyad clearfix">
                    <div class="emptyaddoted">&nbsp;</div>
                </div>
            </div>
            <div class="col-sm-4 col-md-2 col-lg-2">
                <h2>Press Resources</h2>
                <ul>
                    <li><a href="#">Logo</a></li>
                    <li><a href="#">Business Card</a></li>
                    <li><a href="#">Banners</a></li>
                    <li><a href="#">Wallpapers</a></li>
                    <li><a href="#">Downloads</a></li>
                </ul>
                <div class="divider">&nbsp;</div>
            </div>
            <div class="col-sm-4 col-md-2 col-lg-2 social">
                <h2>Social Networks</h2>
                <div class="icons">
                    <a href="#"><i class="icon-facebook-sign"></i></a>
                    <a href="#"><i class="icon-twitter-sign"></i></a>
                    <a href="#"><i class="icon-linkedin-sign"></i></a>
                    <a href="#"><i class="icon-pinterest-sign"></i></a>
                    <a href="#"><i class="icon-flickr"></i></a>
                    <a href="#"><i class="icon-tumblr-sign"></i></a>
                    <a href="#"><i class="icon-google-plus-sign"></i></a>
                </div>
                <div class="text">Follow us on social networks
                    to stay updated with news
                    and offers.
                </div>
                <div class="divider">&nbsp;</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 copyright">Copyrights 1990 - 2013, <a
                    href="http://shopilicious.com/">Shopilicious.com</a>, All Rights Reserved
            </div>
        </div>
    </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
<script src="js/respond.min.js"></script>

<script src="js/item.js"></script>

<script src="js/retina.js"></script>

</body>
</html>